{% extends "search.html" %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/catalog.css' %}" />
<script src="{% static 'js/catalog.js' %}"></script>
<script src="{% static 'js/load.js' %}"></script>


<h1>Deals List</h1>
<div class="buttonoverlay">
  <label for="max_price" style="width: 110px">Maximum Cost:</label>
  <input type="text" name="max_price" id="max_price" style="width: 50px; color: black" />
  <button onclick="(() => {
    var params = new URLSearchParams(window.location.search);
    var page = params.get('page');
    SortFunction(undefined, page);
  })()" class="blue">
    Filter
  </button>
  <br />
  <label for="max_price" style="width: 110px">Minimum Cost:</label>
  <input type="text" name="min_price" id="min_price" style="width: 50px; color: black" />
  <button onclick="(() => {
    var params = new URLSearchParams(window.location.search);
    var page = params.get('page');
    SortFunction(undefined, page);
  })()" class="blue">
    Filter
  </button>
  <br />
  <label for="set_id" style="width: 110px">ID:</label>
  <input type="text" name="set_id" id="set_id" style="width: 50px; color: black" />
  <button onclick="(() => {
    var params = new URLSearchParams(window.location.search);
    var page = params.get('page');
    SortFunction(undefined, page);
  })()" class="blue">
    Filter
  </button>
  <br />
  <label for="set_dev" style="width: 110px">Developer:</label>
  <br />
  <input type="text" name="set_dev" id="set_dev" style="width: 160px; color: black" />
  <button onclick="(() => {
    var params = new URLSearchParams(window.location.search);
    var page = params.get('page');
    SortFunction(undefined, page);
  })()" class="blue">
    Filter
  </button>
  <br />
  <br />
  <label for="set_title" style="width: 110px">Title:</label>
  <br />
  <input type="text" name="set_title" id="set_title" style="width: 160px; color: black" />
  <button onclick="(() => {
    var params = new URLSearchParams(window.location.search);
    var page = params.get('page');
    SortFunction(undefined, page);
  })()" class="blue">
    Filter
  </button>
  <br />
  <br />
  <button class="blue" onclick="(() => {
    var params = new URLSearchParams(window.location.search);
    var page = params.get('page');
    SortFunction('desc', page);
  })()" style="width: 110px" id="highest">
    Sort by Highest Price
  </button>
  <br />
  <br />
  <button class="blue" onclick="(() => {
    var params = new URLSearchParams(window.location.search);
    var page = params.get('page');
    SortFunction('asc', page);
  })()" style="width: 110px" id="lowest">
    Sort by Lowest Price
  </button>
  <br />
  <br />
  <form method="post">
    {% csrf_token %}
    <button class="blue" type="submit" name="clear" value="clear" style="width: 110px">Clear Filters</button>
  </form>
  <br />
</div>

<table class="tableorganizer" id="tablegames">
  <thead>
    <tr>
      <th>ID</th>
      <th>Game Title</th>
      <th>Price</th>
      <th>Developer</th>
    </tr>
  </thead>
  <tbody>
    {% if filtered_table %} {% for Game in current_page %}
    <tr>
      <td class="id">{{ Game.appid }}</td>
      <td class="name"><a href="{{ Game.get_absolute_url }}">{{ Game.name }}</a></td>
      <td class="price">$ {{ Game.price }}</td>
      <td class="developer">{{ Game.developer }}</td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>

<br />
<br />
<br />
<br />
<br />
<br />

<div class="centertext">
  <div class="pagination">
    {% for num in current_page.paginator.page_range %}
        {% if current_page.number == num %}
            <span>{{ num }}</span>
        {% elif num > current_page.number|add:'-2' and num < current_page.number|add:'2' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}