{% extends "search.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
    <div>
        <h1>Control Panel</h1>
    </div>
    <div>
        <form method="post" >
            {% csrf_token %}
            <button type="submit" name="load" class="btn btn-primary">Initial_load</button>
            <button type="submit" name="reset" class="btn btn-scondary">Reset</button>
    </form>
    </div>

    <div> 
        <button type="submit" name="steam-login"> <img src="{% static 'images/sits_01.png' %}" alt="arrow"/> </button>
    </div> 

    

{% endblock content %}

π