{% extends "search.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
    <div>
        <h1> {{ msg }}</h1>
        {% comment %} <form method="get" action="">
            {% csrf_token %}
            <input type="text" name="q" placeholder="Search..." />
            <button type="submit">Go</button>
        </form> {% endcomment %}
    </div>

    <div>
        <form method="POST" >
            {% csrf_token %}
            <button type="submit" name="load" class="btn btn-primary">Initial_load</button>
            <button type="submit" name="reset" class="btn btn-scondary">Reset</button>
        </form>
    </div>
{% endblock content %}