{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

    <!--DECLARES ALL CSS BEING USED FOR ALL TEMPLATES-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/realdealz.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/blackborder.css' %}" />    
    <link rel="stylesheet" type="text/css" href="{% static 'css/wraptext.css' %}" />    
    <link rel="stylesheet" type="text/css" href="{% static 'css/tableorganizer.css' %}" />          
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttonoverlay.css' %}" />         
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.display = "block";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.display = "none";
      }
    </script>
  </head>

  <body>
    <nav>
      <div class="heading">
        <h4>RealDealz</h4>
      </div>
      <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'catalog' %}">Catalog</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
              <div class="input-group-btn search-panel">
                <select
                  name="search_param"
                  id="search_param"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown"
                >
                  <option value="all">All</option>
                  <option value="username">link 1</option>
                  <option value="email">link 2</option>
                  <option value="studentcode">link 3</option>
                </select>
              </div>
              <form method="get" action="{% url 'game_search' %}">
                {% csrf_token %}
                <div class="input-group">
                  <input id="filtered_name" type="text" class="form-control" name="filtered_name" placeholder="Search Games" />
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% comment %}
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
    </div>
    <span style="font-size: 20px; cursor: pointer" onclick="openNav()">&#9776; All</span>
    {% endcomment %}
  </body>
</html>

{% block content %} {% endblock content %}
