nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #808080;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;
}

input::placeholder {
  font: 12px/3 sans-serif;
}

p {
  font-size: 14px;
}

.heading{
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links a{
  color: #000000;
  text-decoration: none;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 16px;
  padding: 14px 16px;
}

.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (prefers-color-scheme: light) {
  body, h1, h2, h3 {
    background-color: white;
    color: black;
  }
}